In [ ]:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

In [ ]:

merged_df = pd.read_excel("merged.xlsx")
result_df = pd.read_excel("result.xlsx")

## Analiza dla merged.xlsx

In [ ]:

# Top 10 shoes by numberOfAsks
top_10_asks = merged_df.sort_values(by="numberOfAsks", ascending=False).head(10)
plt.figure(figsize=(12, 8))
sns.barplot(x="numberOfAsks", y="Title", data=top_10_asks, palette="viridis")
plt.title("Top 10 butów pod względem liczby ofert")
plt.xlabel("Liczba ofert")
plt.ylabel("Nazwa buta")
plt.tight_layout()
plt.show()

# Top 10 shoes by salesThisPeriod
top_10_sales = merged_df.sort_values(by="salesThisPeriod", ascending=False).head(10)
plt.figure(figsize=(12, 8))
sns.barplot(x="salesThisPeriod", y="Title", data=top_10_sales, palette="magma")
plt.title("Top 10 butów pod względem sprzedaży w tym okresie")
plt.xlabel("Liczba sprzedaży")
plt.ylabel("Nazwa buta")
plt.tight_layout()
plt.show()

# Scatter plot for correlation between lowestAsk and numberOfAsks
plt.figure(figsize=(12, 8))
sns.scatterplot(x="lowestAsk", y="numberOfAsks", data=merged_df, alpha=0.6, edgecolor=None, palette="coolwarm")
plt.title("Korelacja między najniższą ofertą a liczbą ofert")
plt.xlabel("Najniższa oferta")
plt.ylabel("Liczba ofert")
plt.tight_layout()
plt.show()

# Average offer price
average_price = merged_df["lowestAsk"].mean()
average_price

## Analiza dla result.xlsx

In [ ]:

# Top 10 shoes by profitOrLoss
top_10_profit = result_df.sort_values(by="profitOrLoss", ascending=False).head(10)
plt.figure(figsize=(12, 8))
sns.barplot(x="profitOrLoss", y="Title", data=top_10_profit, palette="Greens")
plt.title("Top 10 butów pod względem zysku")
plt.xlabel("Zysk")
plt.ylabel("Nazwa buta")
plt.tight_layout()
plt.show()

# Top 10 shoes by profitOrLoss (losses)
top_10_loss = result_df.sort_values(by="profitOrLoss", ascending=True).head(10)
plt.figure(figsize=(12, 8))
sns.barplot(x="profitOrLoss", y="Title", data=top_10_loss, palette="Reds_r")
plt.title("Top 10 butów pod względem straty")
plt.xlabel("Strata")
plt.ylabel("Nazwa buta")
plt.tight_layout()
plt.show()

# Average final price after taxes
average_final_price = result_df["finalPriceAfterTaxes"].mean()
average_final_price